# =========================
# RAW DATA (DO NOT VERSION)
# =========================
Data/
*.csv
*.parquet

# =========================
# DATABASE FILES
# =========================
*.mdf
*.ldf
*.bak

# =========================
# LOG FILES
# =========================
*.log

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# VS CODE
# =========================
.vscode/

# =========================
# TEMP FILES
# =========================
*.tmp
*.temp

# =========================
# PYTHON (if added later)
# =========================
__pycache__/
*.pyc
venv/
.env

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# SYSTEM
# =========================
desktop.ini







